html { 
    width: 100%; 
    font-family: sans-serif; 
    background-color: #dadaff; 
}

h1 { 
    font-size: 72px; 
    text-align: center; 
    color: #444; 
    margin-bottom: -10px; 
}

h2 { 
    font-size: 16px; 
    text-align: center; 
    color: #444; 
    margin-bottom: 2px; 
}

#periodic { 
    margin: 0 auto;
    border-spacing: 3px; 
}

#periodic tr td { 
    background-color: #f8f8f8; 
    width: 32; 
    height: 64;
    cursor: pointer; 
    border-style: outset; 
    border-width: 3px; 
}

#periodic tr td.empty { 
    background-color: transparent; 
    cursor: auto;
    border: none; 
    text-align: left; 
}

#periodic tr td sup { 
    font-size: 12px; 
    display: block; 
    text-align: center; 
}

#periodic tr td { 
    font-size: 21px;
    text-align: center; 
    position: relative; 
}

#periodic tr td.sel { 
    border-style: groove; 
    text-shadow: 1px 1px 1px #222; 
}

#tile-caption {
    font-size: x-small;
} 